<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price Alert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'html_dependencies.jinja2' %}

</head>
<body>
<dev>
<nav   class="navbar navbar-expand-lg navbar-light mine" style=" background-color: #cfd8c7;" >

    <a class="navbar-brand" href="/" title="Home" >Price Alert</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div  class="navbar-collapse collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for("stores.index")}}">Stores<span class="sr-only">(current)</span> </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for("alerts.index")}}">Alerts <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        {% if session['email'] %}
            <ul class="navbar-nav  navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for("users.user_alerts")}}"><span class="glyphicon glyphicon-alert"></span> My Alerts </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for("users.logout_user")}}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log out</a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav  navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for("users.register_user")}}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Sign Up </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for("users.login_user")}}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log in</a>
                </li>
            </ul>
        {% endif %}

    </div>
</nav>
</dev>
<dev>
    {% block content %}

    {% endblock %}
</dev>
</body>
</html>