<link rel="stylesheet" href="../static/css/bootstrap.min.css">

<script src="../static/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" >
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
      integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>-->
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
