

.bgimg {

    background-image: url('https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?cs=srgb&dl=bench-carved-stones-cemetery-257360.jpg&fm=jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #ff2d53;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}
.mybg {

    background-image: url('https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?cs=srgb&dl=bench-carved-stones-cemetery-257360.jpg&fm=jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: inherit;


}


.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.form-size{
    max-width:400px;
    margin: 80px auto;
    background-color: #cfd8c7;
    padding: 20px;
    border: 1px solid #6e7885;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}