{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>Create Alert</h1>
    </div>
    <div class="form-size">
        <form method="post">
            <div class="form-group">
                <label for="name">Alert/Item Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="url">URL</label>
                <input type="text" class="form-control" id="url" name="url" placeholder="https://...">
            </div>
            <div class="form-group">
                <label for="price-limit">Price Limit</label>
                <input type="text" class="form-control" id="price-limit" name="price-limit" placeholder="45.00" aria-describedby="priceLimitBlock">
                <p id="priceLimitBlock"class="help-block">We will send you a email when price reaches or undergoes this</p>
            </div>
            <div>
            <button class="btn btn-default" type="submit"  style="padding-top: 20px" >Create</button>
                </div>
        </form>
    </div>
{% endblock %}