{% extends "base.jinja2" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Stores <small><i>Which we supports </i></small></h1>
    </div>
</div>
    <div class="list_group container">
       {% for store in stores %}
            <a href="{{ url_for('stores.store_page',store_id = store._id) }}" class="list-group-item" target="_blank">
                <h4 class="list-group-item-heading">{{ store.name }}</h4>
                <p class="list-group-item-text">All URL starts with {{ store.prefix }}</p>
            </a>
        {% endfor %}

    </div>
    {% if session['email'] in config.ADMINS %}
    <div class="container">
    <a href="{{ url_for('stores.create_store') }}" class="btn btn-success" >
        <span class="fa fa-plus"> Create Store</span>
    </a>
    </div>
    {% endif %}
{% endblock %}